html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #ccebb8;
}

main {
    display: flex;
    height: 100%;
}

/* Cabeçalho */

#cabecalhoPagina {
    background-color:#a9da89;
    height: 80px;
}

#cabecalhoPagina > .logoParentree {
    float: left;
    padding-top: 20px;
    padding-left: 10px;
    margin-right: 20px;
    width: 60px;
    height: 50px;
}

#cabecalhoPagina > .tituloPagina {
    display: inline-block;
    margin: 0;
    padding-top: 30px;
    font-weight: bold;
    font-style: italic;
    color: rgb(44, 121, 102);
}

#barraNavegacao {
    background-color: #bedf98;
    width: 100%;
    text-align: center;
}
#barraBuscaCatalogo {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}


/* Conteúdo */

.barraLateral {
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    border-right: 2px solid rgb(184, 184, 184);
    
}

.barraLateral li {
    list-style: none;
}

.barraLateral .tituloFiltro {
    margin: 15px 0;
    font-weight: bold;
    font-style: italic;
    color: rgb(44, 121, 102);
}

.barraLateral .listaFiltroLateral {
    padding-left: 20px;
    margin: 0;
}

.barraLateral > .filtroLateral {
    border-bottom: 1px solid rgb(184, 184, 184);
    padding-bottom: 15px;
}

.barraLateral > #divBotaoFiltro {
    margin-top: 10px;
    text-align: center;
}

.barraLateral > #divBotaoFiltro > #botaoAcionaFiltro {
    background-color: #a9da89;
    width: 80px;
    height: 30px;
}

#catalogoPlantas{
    width: 100%;
    padding-left: 65px;
}

#catalogoPlantas > .plantaSubInfo {
    display: inline-block;
    background-color: #cde4b1;
    width: 250px;
    height: 300px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
}

#catalogoPlantas > .plantaSubInfo:hover {
    background-color: #e0f7c3;
    transform: scale(1.05);
}

#catalogoPlantas > .plantaSubInfo > #listaIconesPlanta {
    display: inline-block;
    margin: 0;
}

#catalogoPlantas > .plantaSubInfo > .fotoPlanta {
    width: 150px;
    height: 150px;
}

#catalogoPlantas > .plantaSubInfo > .nomePlanta {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: rgb(44, 121, 102);
}

/* Menu hamburguer */
.menu-h
{
    background:  rgb(255, 255, 255);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    top: 5px;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fff, 0 0 0 30 #fff;
    transition: box-shadow 0.2s ease-in-out;
}
.menu-h:hover
{
    box-shadow: 0 0 0 3px #fff, 0 0 0 3px #fff;
}
.hamburguer {
    position: relative;
    display: block;
    background: #000;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: .5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}
/* Efeitos do input do menu */
input#menu-hamburguer {
    display: none;
}
input#menu-hamburguer:checked ~ label .menu-h
{
    box-shadow: 0 0 0 130vw #fff, 0 0 0 130vw #fff;
}
input#menu-hamburguer:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

input#menu-hamburguer:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input#menu-hamburguer:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.opcoesMenu a
{
    display: block;
    margin-bottom: 40px;
    color: #bedf98;
    font-size: 0px;
    text-decoration: none;
}
/* Posicionamento do menu */
.opcoesMenu ul
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 45px;
    opacity: 1;
}
/* Aparecer o menu quando clicar no ícone */
input#menu-hamburguer:checked ~ .opcoesMenu a
{
font-size: 45px;
}
