html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #ccebb8;
}

main {
    height: 100%;
}

/* Cabeçalho */

#cabecalhoPagina {
    background-color:#a9da89;
    height: 80px;
}

#cabecalhoPagina > .logoParentree {
    float: left;
    padding-top: 20px;
    padding-left: 10px;
    margin-right: 20px;
    width: 60px;
    height: 50px;
}

#cabecalhoPagina > .tituloPagina {
    display: inline-block;
    margin: 0;
    padding-top: 30px;
    font-weight: bold;
    font-style: italic;
    color: rgb(44, 121, 102);
}

#cabecalhoPagina > .menuPagina {
    float: right;
}

#barraNavegacao {
    background-color: #bedf98;
    width: 100%;
    text-align: center;
}

#navegacao {
    padding:0px;
    margin:0px;
    display:inline-block;
    height: 30px;
}

#navegacao > #itensNavegacao {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

#navegacao > #itensNavegacao li {
    display: inline-block;
    padding: 0 10px;
    padding-top: 5px;
    height: 90%;
    text-align: center;
}

#navegacao > #itensNavegacao li a {
    text-decoration: none;
    color: rgb(44, 121, 102);
    padding: 2px 10px;
}

#navegacao > #itensNavegacao li:hover {
    background-color: #a9da89;
}

#barraNavegacao > #barraBuscaCatalogo {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}


/* Conteúdo */

.barraLateral {
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    border-right: 2px solid rgb(184, 184, 184);
}

.barraLateral li {
    list-style: none;
}

.barraLateral .tituloFiltro {
    margin: 15px 0;
    font-weight: bold;
    font-style: italic;
    color: rgb(44, 121, 102);
}

.barraLateral .listaFiltroLateral {
    padding-left: 20px;
    margin: 0;
}

.barraLateral > .filtroLateral {
    border-bottom: 1px solid rgb(184, 184, 184);
    border-bottom-width: 80%;
    padding-bottom: 15px;
}

.barraLateral > #divBotaoFiltro {
    margin-top: 10px;
    text-align: center;
}

.barraLateral > #divBotaoFiltro > #botaoAcionaFiltro {
    background-color: #a9da89;
    width: 80px;
    height: 30px;
}

.catalogoPlantas{
    display: inline-block;
}