@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Kalam|Montserrat&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
}

main {
    display: flex;
    height: 100%;
}

/* Cabeçalho */

#cabecalhoPagina
{
    margin-top: -20px;
    height: 130px;
    background-color: rgb(105, 185, 125);
    width: 100%;
    margin-left: -5px;
    -moz-transform: rotate(-1.6deg);
    -ms-transform: rotate(-1.6deg);
    -webkit-transform: rotate(-1.6deg);
    transform: rotate(-1.6deg);
}
.logoParentree
{
    transform: rotate(1.6deg);
    float: left;
    padding-top: 40px;
    padding-left: 30px;
    margin-right: 20px;
}

#cabecalhoPagina > .tituloPagina {
    transform: rotate(2deg);
    display: inline-block;
    margin: 0;
    padding-top: 36px;
    font-family: 'Caveat Brush', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#barraNavegacao {
    background-color: #9bdf98;
    width: 100%;
    text-align: center;
}
/* ESCRITO MENU AO LADO DO MENU HAMBURGUER */
.menu-direita {
    transform: rotate(2deg);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    float: right;
    padding-top: 46px;
    right: 90px;
    color: white;
}

/* Menu hamburguer */
.menu-h {
    margin-top: 50px;
    transform: rotate(2deg);
}

.menu-h {
    background:  rgb(255, 255, 255);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    top: 5px;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fff, 0 0 0 30 #fff;
    transition: box-shadow 0.2s ease-in-out;
}

.menu-h:hover {
    box-shadow: 0 0 0 3px #fff, 0 0 0 3px #fff;
}

.hamburguer {
    position: relative;
    display: block;
    background: rgb(23, 105, 12);
    width: 30px;
    height: 4px;
    top: 29px;
    left: 15px;
    transition: .5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background: rgb(23, 105, 12);   
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}
/* Efeitos do input do menu */
input#menu-hamburguer {
    display: none;
}
input#menu-hamburguer:checked ~ label .menu-h {
    box-shadow: 0 0 0 130vw #fff, 0 0 0 130vw #fff;
}

input#menu-hamburguer:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

input#menu-hamburguer:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input#menu-hamburguer:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.opcoesMenu a {
    transform: rotate(2deg);
    display: block;
    color: #bedf98;
    font-family: 'Montserrat', sans-serif;
    font-size: 0px;
    text-decoration: none;
}
/* Posicionamento do menu */
.opcoesMenu ul {
    margin-top: -10px;
    position: absolute;
    left: 38%;
    list-style: none;
    font-size: 35px;
    opacity: 1;
}

/* Aparecer o menu quando clicar no ícone */
input#menu-hamburguer:checked ~ .opcoesMenu a {
    font-size: 35px;
    margin-bottom: 40px;
}

/* Estilo das plantas na página */
.imagemPlanta {

    width: 165px;
    height: 165px;
}

.nomePlanta {
    font-size: 20px;
    font-family: 'Kalam', serif;
    font-weight: bold;
    color: rgb(44, 121, 102);
}

.resumoPlanta {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

#minhaPlanta {
    display: inline-block;
    background-color: #ffffff;
    width: 250px;
    height: 400px;
    margin: 25px;
    vertical-align: left;
}
/* BUTTON */

#btnRetirarMinhasPlantas {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #000000;
	padding: 8px 20px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #dadada;
    text-align: center;
    cursor: pointer;
}

#tituloCalendario {
    font-family: 'Caveat Brush', sans-serif;
    font-size: 50px;
    color: #9bdf98;
    margin-left: 40%;
    margin-top: -70px;
}

#calendar {
    margin-left: 10%;
    width: 80%;
    height: 100%;
}